@use "../variables" as vars;

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../../assets/imgs/BackgroundImage.png");
  height: auto;
  background-size: cover;

  .customer_text {
    max-width: 600px;
    text-align: center;
    h4 {
      color: vars.$white-color;
    }
    .current_description {
      color: vars.$white-color;
    }
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
    padding: 20px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      padding: 30px;
      padding-bottom: 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: vars.$white-color;
      transition: all 0.3s ease-in-out;

      border-radius: 10px;
    }
    .swiper-slide-active {
      transform: scale(1.1);
    }
    .swiper-pagination {
      position: relative;
      margin-top: 72px;
      .swiper-pagination-bullet {
        background-color: vars.$white-color;
        width: 20px;
        height: 20px;
      }
    }
    h4 {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1120px) {
  .customers {
    .customer_text {
      max-width: 370px;
    }
  }
}

@media (max-width: 700px) {
  .customers {
    .customer_text {
      max-width: 325px;
      h4 {
        font-size: 25px;
        line-height: 37.5px;
        margin-bottom: 16px;
      }
    }
    .swiper {
      .swiper-slide-active {
        transform: scale(1);
      }
    }
  }
}
