@use "../variables" as vars;
.download {
  min-height: 706px;

  .download_product {
    justify-content: space-between;
    align-items: start;
    padding: 100px 0px 100px 0px;
    .download_content {
      max-width: 570px;
      .download_row {
        margin-top: 60px;
        display: flex;
      }
      .download_row a:last-child {
        margin-left: 24px;
      }
      h4 {
        margin-top: 0;
      }
      .downloads_statistics {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .downloads_statistics_item {
          background-color: rgba(vars.$primary-color, 0.8);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding-bottom: 30px;
          padding-top: 30px;
          max-width: 170px;
          gap: 14px;
          width: 100%;
          cursor: pointer;
          transition: all 0.3s ease;

          span {
            font-size: 25px;
            line-height: 25px;
            color: vars.$white-color;
          }
          span:last-child {
            font-size: 20px;
            line-height: 30px;
          }
        }
        .downloads_statistics_item:hover {
          background-color: rgba(88, 86, 233, 0.562);
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .download_product > img {
    width: 340px;
  }
}

@media (max-width: 920px) {
  .download
    .download_product
    .download_content
    .downloads_statistics
    .downloads_statistics_item {
    max-width: 129px;
    gap: 13px;
    padding-top: 10px;
    padding-bottom: 10px;

    span {
      font-size: 17px;
      line-height: 20px;
    }
    span:last-child {
      font-size: 15px;
      line-height: 15px;
    }
  }
}

@media (max-width: 820px) {
  .download
    .download_product
    .download_content
    .downloads_statistics
    .downloads_statistics_item {
    max-width: 100px;
    gap: 6px;
    svg {
      width: 20px;
      height: 20px;
    }
    span:last-child {
      font-size: 13px;
      line-height: 15px;
    }
  }
}

@media (max-width: 700px) {
  .download {
    .download_product {
      flex-direction: column;
      align-items: center;
      gap: 60px;
      .download_content {
        max-width: 340px;
        .downloads_statistics {
          .downloads_statistics_item {
            max-width: 100px;
            gap: 13px;

            padding-top: 10px;
            padding-bottom: 10px;
            svg {
              width: 15px;
              height: 15px;
            }
            span {
              font-size: 16px;
              line-height: 20px;
            }
            span:last-child {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
        h4 {
          font-size: 25px;
          line-height: 30px;
        }
        .download_row {
          margin-top: 50px;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .download_product > img {
    width: 290px;
  }
  .download_row a img {
    width: 120px;
  }
}

@media (max-width: 420px) {
  .download
    .download_product
    .download_content
    .downloads_statistics
    .downloads_statistics_item {
    max-width: 80px;
  }
  .download
    .download_product
    .download_content
    .downloads_statistics
    .downloads_statistics_item
    span:last-child {
    font-size: 10px;
  }
}
