@use "../variables" as vars;

footer {
  background-color: vars.$black-color;
  padding-bottom: 1px;
  position: relative;
  margin-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  * {
    color: vars.$white-color;
  }
  .contact_us {
    background-color: vars.$white-color;
    width: 100%;
    border-radius: 30px;
    height: 230px;
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    top: 0;
    box-shadow: 0px 4px 100px rgb(0 0 0 / 24%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    * {
      color: vars.$black-color;
    }
    .contact_us_line {
      width: 4px;
      height: 100px;
      background-color: vars.$grey-color;
    }
    .contact_us_row_content {
      display: flex;
      align-items: center;
      gap: 18px;
      h4 {
        margin-bottom: 0;
      }
      .contact_us_circle_icon {
        width: 100px;
        height: 100px;
        background-color: vars.$primary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .contact_us_circle_icon:hover {
        background-color: rgba(89, 86, 233, 0.7607843137);
      }
    }
  }
  .copyright {
    max-width: 1170px;
    border-top: 2px solid white;
    display: flex;
    margin: 66px auto;
    padding: 27px;
    flex-direction: column;
    align-items: center;
    svg {
      vertical-align: bottom;
    }
  }
  .footer_content {
    align-items: start;
    width: 100%;
    justify-content: space-between;
    padding-top: 235px;
    .footer_news_letter {
      max-width: 301px;
      p {
        color: vars.$white-color;
      }

      .input_wrapper {
        position: relative;
        display: inline-block;
        margin-top: 33px;

        input {
          width: 300px;
          height: 50px;
          padding: 0 20px 0 15px;
          border-radius: 4px;
          outline: none;
          border: none;
          color: vars.$black-color;
        }

        .send_icon {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 52px;
          height: 46px;
          background-color: vars.$primary-color;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-right: 2px;
        }
      }
    }

    .footer_quick_links {
      ul {
        li {
          margin-top: 22px;
          a:hover {
            transition: 0.3s all ease;
            color: vars.$primary-color;
          }
        }
      }
    }

    .footer_logo_columns {
      max-width: 334px;
      p {
        color: vars.$white-color;
      }
      ul {
        display: flex;
        align-items: center;
        margin-top: 40px;
        gap: 32px;
        a:hover path {
          transition: 0.3s all ease;
          fill: vars.$primary-color;
        }
        .line {
          width: 2px;
          height: 24px;
          background-color: vars.$white-color;
        }
      }
    }
  }
}
@media (min-width: 701px) and (max-width: 820px) {
  footer .footer_content .footer_news_letter {
    max-width: 250px;
  }
  footer .footer_content .footer_news_letter .input_wrapper input {
    width: 236px;
  }
  footer .footer_content .footer_logo_columns {
    max-width: 250px;
    ul {
      gap: 21px;
    }
  }
}

@media (max-width: 700px) {
  footer {
    .footer_content {
      flex-direction: column;
      gap: 30px;
    }
    .contact_us {
      width: auto;
      height: auto;
      border-radius: 10px;
      max-width: 343px;
      width: 100%;
      gap: 10px;
      padding: 20px;
      .contact_us_line {
        width: 150px;
        height: 4px;
      }
      .contact_us_row_content {
        gap: 5px;
        h4 {
          font-size: 20px;
          line-height: 30px;
        }
        .contact_us_circle_icon {
          width: 50px;
          height: 50px;
          svg {
            width: 15px;
            height: 15px;
          }
        }
      }

      flex-direction: column;
      .contact_us_row_content {
        flex-direction: column;
      }
    }
  }
}
