@use "./variables" as vars;
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
h4 {
  font-size: 31.25px;
  line-height: 47.25px;
  color: vars.$black-color;
  margin-bottom: 20px;
  font-weight: 700;
}
h6 {
  color: vars.$black-color;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
  font-weight: 600;
}
.current_description {
  line-height: 24px;
  color: vars.$grey-color;
  font-weight: 400;
}

section {
  padding-right: 20px;
  padding-left: 20px;
}

section.customers,
section.advice {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 1140px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 820px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 300px;
  }
}
